# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# JetBrains IDEs
.idea/

# Local env & debug
*.env
*.log
*.pkl

# Model checkpoints & data
*.ckpt
*.pth
*.pt
*.h5
*.npz
*.onnx


# Custom
data/